body {
  margin: 100px 180px;
  background-image: url("img/cthulhu.jpg");
  background-size: cover;
  font-family: Rokkitt;
}

h1 {
  color: white;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 40px;
}

.login {
  background: rgb(0,0,0,0.5);
  padding: 10px 0 50px 0;
  width: 400px;
  display: block;
  margin: 200px auto;
  border-radius: 5px;
}

button {
  font-family: Rokkitt;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 16px;
}

a.yellow {
  text-transform: none;
  letter-spacing: 0;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  background-color: #D8CD6D;
  color: black;
  padding: 20px;
  width: 300px;
}

.maingrid > header {
  font-size: 30px;
  text-align: center;
}

h1 {
  margin-top: 25px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 5px;

}

input[type="text"]:hover, input[type="number"]:hover, select:hover, input[type="text"]:focus, input[type="number"]:focus, select:focus {
  opacity: 0.9;
}


input[type="text"], input[type="number"], select{
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  opacity: 0.7;
  font-family: Rokkitt;
  width: 120px;
}

.label > select {
  width: 150px;
}

.input > select.number {
  width: 70px;
}

.input > select {
  width: 150px;
}

div.label, div.input {
  display: inline-block;
  width: 46%;
}

div.label {
  text-align: right;
  margin-right: 15px;
}

div.label.hidden {
  visibility:hidden;
}

div.center-label{
  width: 100%;
  text-align: center;
  margin: 5px;
}

div.center-label >select{
  width: 150px;
}

div.input {
  margin: 5px;
}

hr {
  opacity: 0;
}

p.note {
  text-align: center;
}

a {
  font-family: Rokkitt;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.8px;
  display: block;
  text-align: center;
}

a.inline {
  display: inline-block;
}

a.save{
  margin: 0;
  font-size: 16px;
  background-color: #D8CD6D;
  color: black;
  padding: 20px 0;
  width: 200px;
}

a.save:hover {
  color: #544E1B;
  background-color: #F1E89C;
}

a.create, .element {
    width: auto;
    display: block;
}

a.create {
  background-color: #404959;
  color: white;
  margin: 40px 30px;
  font-size: 24px;
  padding: 30px 0;
}

a.create:hover, a.option:hover {
  background-color: #919AAA;
  color: #404959;
}

a.option {
  background-color: #224C3D;
  color: white;
  padding: 15px;
  margin: 25px 15px;
}

a.option:hover {
  background-color: #79C28D;
  color: #29483D;
}

a.option.right {
  margin-right: 30px;
}

.element {
  display: grid;
  font-family: Rokkitt;
  border-radius: 3px;
  text-decoration: none;
  letter-spacing: 0.8px;
  background-color: rgb(7,16,32,0.6);
  margin: 0 30px 30px 30px;
  height: 100px;
  min-width: 800px;
  grid-template-columns: 65% auto;
  grid-template-rows: 50% 50%;
  grid-template-areas:
     "job opt1 opt2"
     "info opt1 opt2"
}

.job {
  grid-area: job;
  margin: 0;
  font-size: 28px;
  padding: 15px 40px 10px 40px;
  text-transform: uppercase;
}

.info {;
  grid-area: info;
  margin: 0;
  padding: 8px 0 10px 40px;
  font-size: 18px;
  letter-spacing: 0;
}

.opt1 {
  grid-area: opt1;
}

.opt2 {
  grid-area: opt2;
}

.label p {
  margin-top: 0;
  margin-bottom: 0;
}
