body {
  width: 800px;
  height: 1200px;
  padding: 50px;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin: 10px 0 10px 0;
  padding: 10px;
}

h2, th {
  margin: 10px 0 10px 0;
  padding: 3px;
  font-size: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

p {
  margin: 2px;
}

/* #content {
  display: grid;
  margin: auto;
  grid-gap: 20px;
  max-width: 1200px;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 220px 60px 320px 200px 200px;
  grid-template-areas:
     "info img attr"
     "title title title"
     "skills skills skills"
     "weapon combat equipment"
     "history points equipment"
} */

table {
  width: 100%;
}

th {
  column-span: 3;
  margin-left: 20px;
}

td{
  width: 33%;
  padding-left: 10px;
  vertical-align: top;
  text-align: left;
}

th#skills {
  font-size: 10px;
}

td.skills {
  padding-bottom: 50px;
}

td#information p {
  margin: 1px;
}

td#attributes p {
  display: inline-block;
  width: 60px;
  height: 20px;
}
td#attributes p.attrName {
  display: inline-block;
  width: 90px;
}
td#attributes span {
  width: 70px;
}

td#weapon, td#combat, td#history, td#points {
  height: 160px;
}
