body {
  font-family: Rokkitt;
  width: 790px;
  height: 1200px;
  padding: 20px;
  border: 5px solid rgb(41,72,62,0.2);
}

h1 {
  text-align: center;
  margin: 10px 0 10px 0;
  padding: 10px;
  color: rgb(7,16,32,0.7);
  background-color: rgb(41,72,62,0.1);
  border-top: 2px solid rgb(41,72,62,0.1);
  border-bottom: 2px solid rgb(41,72,62,0.1);
}

h2 {
  margin: 10px 0 10px 0;
  color: #29483D;
  border-top: 2px solid rgb(121,194,141,0.3);
  border-bottom: 2px solid rgb(121,194,141,0.3);
  background-color: rgb(121,194,141,0.1);
  padding: 3px;
  text-align: center;
}

p {
  margin: 0px;
}

#content {
  display: grid;
  margin: auto;
  grid-gap: 20px;
  max-width: 1200px;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 220px 60px 320px 200px 200px;
  grid-template-areas:
     "info img attr"
     "title title title"
     "skills skills skills"
     "weapon combat equipment"
     "history points equipment"
}

#weapon, #combat, #points, #history, #equipment {
  border-left: 2px solid rgb(121,194,141,0.4);
  padding-left: 10px;
}

#information {
  grid-area: info;
}

#information p {
  margin: 1px;
  font-size: 18px;
}

#skillTitle {
  grid-area: title;
}

#imageField {
  grid-area: img;
}

#attributes {
  grid-area: attr;
}

#attributes p {
  display: inline-block;
  width: 60px;
  height: 20px;
}
#attributes p.attrName {
  display: inline-block;
  width: 90px;
}
#attributes span {
  width: 70px;
}

#points {
  grid-area: points;
  padding-left: 10px;
}

#skills {
  grid-area: skills;
  column-count: 3;
}

#weapon {
  grid-area: weapon;
}

#equipment {
  grid-area: equipment;
}

#combat {
  grid-area: combat;
}

#history {
  grid-area: history;
}

#combat {
  grid-area: combat;
}
