.maingrid {
  display: grid;
    grid-gap: 10px;
    max-width: 1190px;
    grid-template-columns: 250px auto% 250px;
    grid-template-rows: 80px auto;
    grid-template-areas:
       "header header header"
       "navigation main aside"
}

.maingrid > * {
  border: 1px solid black;
  padding: 20px;
}

.maingrid > nav, .maingrid > aside {
  width: 200px;
}

.maingrid > header {
    grid-area: header;
}

.maingrid > nav {
    grid-area: navigation;
}

.maingrid >  main {
    grid-area: main;
    min-width: 420px;
    max-width: 810px;
}

.maingrid > aside {
    grid-area: aside;
}

body {
  margin: 100px 180px;
}

button {
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.maingrid > nav > button {
  padding: 10px;
  width: 180px;
  height: 70px;
  margin: 10px 10px 30px 10px;
}

.maingrid > nav > button#last {
  margin-bottom: 10px;
}
