.maingrid {
  display: grid;
  margin: auto;
  grid-gap: 10px;
  max-width: 1190px;
  grid-template-columns: 250px auto% 250px;
  grid-template-rows: 80px auto;
  grid-template-areas:
     "header header header"
     "navigation main aside"
}

.maingrid > * {
  padding: 20px;
  color: white;
  border-radius: 5px;
}

.maingrid > nav, .maingrid > aside {
  width: 200px;
}

.maingrid > header {
    text-transform: uppercase;
    grid-area: header;
    background: #76D7B4;
    color: #35775F;
}

.maingrid > nav {
    grid-area: navigation;
    background-color: rgb(0,0,0,0.7);
}

.maingrid >  main {
    grid-area: main;
    min-width: 500px;
    max-width: 700px;
    background-color: rgb(7,16,32,0.85);
    padding: 0 15px 25px 15px;
    box-sizing: border-box;
}

form > div > button{
    font-size: 14px;
    background-color: #D8CD6D;
    height: 25px;
}

form > div > button:hover{
    font-size: 14px;
    background-color: #F1E89C;
}

.maingrid >  main > p.note{
    font-size: 14px;
    text-align: center;
}

.maingrid > aside {
    grid-area: aside;
    background-color: rgb(64,73,89,0.7)
}

.maingrid > aside > div#summarise{
  padding: 10px;
  background-color: black;
  opacity: 0.75;
  border-radius: 3px;
  font-size: 14px;
  margin-bottom: 10px;
  height: 150px;
}

.maingrid > aside > div#img{
  margin-bottom: 20px;
  height: 200px;
  padding: 0;
}

div#img > img{
  margin-bottom: 20px;
  padding: 0;
  width: 200px;
}

.maingrid > aside > div > p{
  margin: 0;
}

.maingrid > nav > button, .maingrid > aside > button {
  padding: 10px;
  width: 180px;
  height: 70px;
  margin: 10px 10px 30px 10px;
}

.maingrid > nav > button {
  background-color: #224C3D;
  color: white;
  display: block;
}

.maingrid > nav > button:hover {
  background-color: #79C28D;
  color: #29483D;
}

.maingrid > nav > button.last, aside button.last {
  margin-bottom: 10px;
}

.maingrid > aside > button {
  background-color: #442916;
  color: white;
}

.maingrid > aside > button:hover {
  background-color: #7E583C;
  color: #442916;
}
