.maingrid {
  display: grid;
  margin: auto;
  grid-gap: 10px;
  max-width: 1200px;
  grid-template-columns: 240px auto 240px;
  grid-template-rows: 80px auto;
  color: white;
  grid-template-areas:
     "header header header"
     "navigation main aside"
     "list list list"
}

.maingrid > * {
  padding: 20px;
  border-radius: 5px;
}

.maingrid > nav, .maingrid > aside {
  width: 200px;
}

.maingrid > .list {
  grid-area: list;
  min-width: 900px;
  max-width: 1200px;
  background-color: rgb(7,16,32,0.65);
  padding: 0 15px 25px 15px;
  box-sizing: border-box;
}

header {
    text-transform: uppercase;
    grid-area: header;
    background: rgb(118,215,180,0.8);
    color: #35775F;
}

.maingrid > nav {
    grid-area: navigation;
    background-color: rgb(0,0,0,0.7);
}

.maingrid >  main {
    grid-area: main;
    min-width: 500px;
    max-width: 900px;
    background-color: rgb(7,16,32,0.85);
    padding: 0 15px 25px 15px;
    box-sizing: border-box;
}

.switch{
  cursor: pointer;
  color: black;
  padding: 4px 12px;
  border-radius: 3px;
  font-size: 14px;
  background-color: #D8CD6D;
  height: 25px;
}

.switch:hover{
  color: #544E1B;
  font-size: 14px;
  background-color: #F1E89C;
}

.maingrid >  main > p.note{
    font-size: 14px;
    text-align: center;
}

.maingrid > aside {
    grid-area: aside;
    background-color: rgb(64,73,89,0.7)
}

.maingrid > aside > div#summarise{
  padding: 10px;
  background-color: rgb(0,0,0,0.8);
  opacity: 0.75;
  border-radius: 3px;
  font-size: 14px;
  margin-bottom: 10px;
  height: 150px;
}

.maingrid > aside > div.img{
  margin-bottom: 20px;
  height: 200px;
  padding: 0;
}

div.img.creator {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-color: rgb(255,255,255, 0.5);
  border-radius: 4px;
  border: 2px solid white;
  position: relative;
}

svg {
  position: absolute;
}

div.img.aside > img{
  margin-bottom: 20px;
  padding: 0;
  width: 200px;
}


.maingrid > aside > div > p{
  margin: 0;
}

.maingrid > nav > button, .maingrid > aside > button {
  padding: 10px;
  width: 180px;
  height: 70px;
  margin: 10px 10px 30px 10px;
}

.maingrid > nav > button {
  display: block;
}

.maingrid > nav > button:hover {
  background-color: #79C28D;
  color: #29483D;
}

.maingrid > nav > button.last, aside button.last {
  margin-bottom: 10px;
}

.maingrid > aside > button {
  background-color: #442916;
  color: white;
}

.maingrid > aside > button:hover {
  background-color: #7E583C;
  color: #442916;
}

.notActive {
  background-color: #224C3D;
  color: white;
}

.activePage {
  background-color: #79C28D;
  color: #29483D;
}

.appgrid {
  display: grid;
  margin: auto;
  grid-gap: 10px;
  margin: 20px 20px 0 20px;
  grid-template-columns: 100px auto;
  grid-template-rows: 50% 50%;
  grid-template-areas:
     "nav type"
     "nav colors"
}

.appgrid > nav {
    grid-area: nav;
    padding: 19px 0;
}

.appgrid > div#type {
    grid-area: type;
}

.appgrid > div#colors {
    grid-area: colors;
}

.appgrid > nav > button {
  font-size: 14px;
  padding: 8px 7px;
  margin: 8px 0;
  width: 100%;
}

.activeElement {
  background-color: #919AAA;
  color: #1D2432;
}

.notActiveElement {
  background-color: #4F5765;
  color: white;
}

.notActiveElement:hover {
  background-color: #919AAA;
  color: #1D2432;
}

.appgrid > nav > button:hover {
  font-size: 14px;
}

.img.type {
  height: 80px;
  width: 80px;
  background-color: rgb(7,7,7,0.7);
  display: inline-block;
  margin: 9px;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
}


#colors, #type {
  padding: 15px;
}

.palette {
  margin: 0 auto;
  width: 300px;
  display: block;
}

.palette > .color{
  border-radius: 3px;
  height: 40px;
  width: 40px;
  display: inline-block;
  box-sizing: border-box;
  margin: 5px;
  cursor: pointer;
}
