<!DOCTYPE  html>
{% load static %}

<html lang='pl'>

<head>
  <meta charset='utf-8'>
  <title>Zew Cthulhu</title>
  <link href='{% static "styles.css" %}' rel='stylesheet'>
  <link href='{% static "main-elements.css" %}' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Rokkitt:300,400,700" rel="stylesheet">
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  {% block extra-head %}{% endblock %}
</head>

<body>
  {% if user.is_authenticated %}
    <a class="yellow short fixed" href="{% url 'logout' %}">Wyloguj</a>
  {% else %}
    <a class="yellow short fixed" href="{% url 'social:begin' 'google-oauth2' %}">Zaloguj</a>
  {% endif %}

  <div id="content">
    {% block content %}
    {% endblock content %}
  </div>

  {% block extra-script %}
  {% endblock extra-script %}
</body>
</html>
