<!DOCTYPE  html>
{% load static %}
<html lang='pl'>
<head>
  <meta charset='utf-8'>
  <title>Zew Cthulhu</title>
  <link href='../static/styles.css' rel='stylesheet'>
  <link href='../static/main-elements.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Rokkitt:300,400,700" rel="stylesheet">
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>

<body>
  {% verbatim %}
   <div id="list">
     <a class="yellow short fixed" href="login.html">Wyloguj</a>
     <div class="maingrid">
       <header>twoje postacie</header>
       <div class="list">
         <a class="create" href="index.html">nowa postać</a>
         <div class="element" v-for="c in characters">
           <p class="job">{{c.job}}</p><br>
           <p class="info"><b>{{c.name}}</b> | Płeć: {{c.sex}} | Wiek: {{c.age}} </p>
           <div class="opt1"><a class="option">drukuj/zapisz</a></div>
           <div class="opt2"><a class="option right">usuń</a></div>
         </div>
       </div>
     </div>
   </div>
  <script src="/static/charactersScript.js"></script>
{% endverbatim %}
</body>
</html>
