<!DOCTYPE  html>
<html lang='pl'>
<head>
  <meta charset='utf-8'>
  <title>Zew Cthulhu</title>
  <link href='../static/styles.css' rel='stylesheet'>
  <link href='../static/main-elements.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Rokkitt:300,400,700" rel="stylesheet">
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>

<body>
  <div id="content">
    <a class="yellow short fixed" href="login.html">Wyloguj</a>
    <div class="maingrid">
      <header>Tworzenie postaci</header>
      <nav>
        <!-- <buttons
          v-for="el in elements"
          v-bind:key="el.id"
          v-bind:title="el.title"
        ></buttons> -->
        <button v-on:click="switchToPage(0)" v-bind:class="{activePage: pages[0], notActive: !pages[0]}">Informacje o postaci</button>
        <button v-on:click="switchToPage(1)" v-bind:class="{activePage: pages[1], notActive: !pages[1]}">Cechy</button>
        <button v-on:click="switchToPage(2)" v-bind:class="{activePage: pages[2], notActive: !pages[2]}">Zawód i umiejętności</button>
        <button v-on:click="switchToPage(3)" v-bind:class="{activePage: pages[3], notActive: !pages[3]}">Ekwipunek</button>
        <button v-on:click="switchToPage(4)" v-bind:class="{activePage: pages[4], notActive: !pages[4]}" class="last">Wygląd</button>
      </nav>
      <main>

        <div v-if="pages[0]">
          <h1>Informacje o postaci</h1>
          <form>
            <div class="label"> Imię Badacza </div>
            <div class="input">
              <input type="text" v-model="explorerName">
            </div>

            <div class="label"> Imię Gracza </div>
            <div class="input">
              <input type="text" v-model="gamerName">
            </div>

            <div class="label"> Płeć </div>
            <div class="input">
              <input type="radio" v-model="explorerSex" value="Kobieta"> K
              <input type="radio" v-model="explorerSex" value="Mężczyzna" checked> M<br>
            </div>

            <div class="label"> Wiek </div>
            <div class="input">
              <input type="number" v-model="explorerAge" min="10" max="100">
            </div>

            <div class="label"> Miejsce zamieszkania </div>
            <div class="input">
              <input type="text" v-model="explorerCity">
            </div>

            <div class="label"> Miejsce urodzenia </div>
            <div class="input">
              <input type="text" v-model="explorerBirthCity">
            </div>
          </form>
          <h1>Inne </h1>
          <form>
            <div class="label"> Znaczące miejsca </div>
            <div class="input">
              <input type="text" v-model="importantPlace">
            </div>

            <div class="label"> Fobie </div>
            <div class="input">
              <input type="text" v-model="phobia">
            </div>

            <div class="label"> Ważne osoby </div>
            <div class="input">
              <input type="text" v-model="importantPeople">
            </div>
          </form>
        </div>

        <div v-if="pages[1]">
          <h1>Cechy głowne</h1>
          <form id="attributes">
            <div class="label"> Siła (S) </div>
            <div class="input">
              <select class="number" v-model="mainAttr[0].value">
                <option v-for="m in ['',80,70,60,50,40]" :value="m" v-on:click="setMainAttributes(0, m)">{{m}}</option>
              </select>
            </div>

            <div class="label"> Kondycja (KON) </div>
            <div class="input">
              <select class="number" v-model="mainAttr[1].value">
                <option v-for="m in ['',80,70,60,50,40]" :value="m" v-on:click="setMainAttributes(1, m)">{{m}}</option>
              </select>
            </div>

            <div class="label"> Moc (M) </div>
            <div class="input">
              <select class="number" v-model="mainAttr[2].value">
                <option v-for="m in ['',80,70,60,50,40]" :value="m" v-on:click="setMainAttributes(2, m)">{{m}}</option>
              </select>
            </div>

            <div class="label"> Zręczność (ZR) </div>
            <div class="input">
              <select class="number" v-model="mainAttr[3].value">
                <option v-for="m in ['',80,70,60,50,40]" :value="m" v-on:click="setMainAttributes(3, m)">{{m}}</option>
              </select>
            </div>

            <div class="label"> Wygląd (W) </div>
            <div class="input">
              <select class="number" v-model="mainAttr[4].value">
                <option v-for="m in ['',80,70,60,50,40]" :value="m" v-on:click="setMainAttributes(4, m)">{{m}}</option>
              </select>
            </div>

            <div class="label"> Budowa Ciała (BC) </div>
            <div class="input">
              <select class="number" v-model="mainAttr[5].value">
                <option v-for="m in ['',80,70,60,50,40]" :value="m" v-on:click="setMainAttributes(5, m)">{{m}}</option>
              </select>
            </div>

            <div class="label"> Inteligencja (INT) </div>
            <div class="input">
              <select class="number" v-model="mainAttr[6].value">
                <option v-for="m in ['',80,70,60,50,40]" :value="m" v-on:click="setMainAttributes(6, m)">{{m}}</option>
              </select>
            </div>

            <div class="label"> Wykształcenie (WYK) </div>
            <div class="input">
              <select class="number" v-model="mainAttr[7].value">
                <option v-for="m in ['',80,70,60,50,40]" :value="m" v-on:click="setMainAttributes(7, m)">{{m}}</option>
              </select>
            </div>
          <p class="note"> Przydziel wartości do powyższych cech: 80, 70, 60, 60, 50, 50, 50, 40 </p>

          <h1>Cechy pochodne</h1>
            <div class="label">Szczęście:</div>
            <div class="input"><span class="switch" v-on:click="luckDraw = false" v-if="luckDraw">Losuj</span><span v-if="!luckDraw">{{luck}}</span></div>

            <div class="label">Punkty Magii:</div>
            <div class="input">{{magic}}</div>

            <div class="label">Modifikator obrażeń: </div>
            <div class="input">{{injuriesAndBrawn[0]}}</div>

            <div class="label">Krzepa: </div>
            <div class="input">{{injuriesAndBrawn[1]}}</div>

            <div class="label">Punkty wytrzymałości (PW): </div>
            <div class="input">{{durability}}</div>

            <div class="label">Poczytalność (P): </div>
            <div class="input">{{mind}}</div>
          </form>
        </div>

        <div v-if="pages[2]">
          <h1>Zawód</h1>
          <div class="label">Zawód Badacza</div>
          <div class="input">
            <select id="job" v-model="job">
              <option v-for="j in allJobs" :value="j" v-on:click="selectJob(j)">
                {{j}}
              </option>
            </select>
          </div>
          <h1>Umiejętności</h1>

          <div class="label">
            <select v-model="mainSkills[0].name" v-if="jobSkills[0].name.length > 1">
              <option v-for="s in jobSkills[0].name" :value="s">{{s}}</option>
            </select>
            <p v-else>{{mainSkills[0].name}}</p>
          </div>
          <div class="input">
            <select class="number" v-model="mainSkills[0].value">
              <option v-for="m in ['',70,60,50,40]" :value="m" v-on:click="setMainSkills(0, m)">{{m}}</option>
            </select>
          </div>

          <div class="label">
            <select v-model="mainSkills[1].name" v-if="jobSkills[1].name.length > 1">
              <option v-for="s in jobSkills[1].name" :value="s">{{s}}</option>
            </select>
            <p v-else>{{mainSkills[1].name}}</p>
          </div>
          <div class="input">
            <select class="number" v-model="mainSkills[1].value">
              <option v-for="m in ['',70,60,50,40]" :value="m" v-on:click="setMainSkills(1, m)">{{m}}</option>
            </select>
          </div>

          <div class="label">
            <select v-model="mainSkills[2].name" v-if="jobSkills[2].name.length > 1">
              <option v-for="s in jobSkills[2].name" :value="s">{{s}}</option>
            </select>
            <p v-else>{{mainSkills[2].name}}</p>
          </div>
          <div class="input">
            <select class="number" v-model="mainSkills[2].value">
              <option v-for="m in ['',70,60,50,40]" :value="m" v-on:click="setMainSkills(2, m)">{{m}}</option>
            </select>
          </div>

          <div class="label">
            <select v-model="mainSkills[3].name" v-if="jobSkills[3].name.length > 1">
              <option v-for="s in jobSkills[3].name" :value="s">{{s}}</option>
            </select>
            <p v-else>{{mainSkills[3].name}}</p>
          </div>
          <div class="input">
            <select class="number" v-model="mainSkills[3].value">
              <option v-for="m in ['',70,60,50,40]" :value="m" v-on:click="setMainSkills(3, m)">{{m}}</option>
            </select>
          </div>

          <div class="label">
            <select v-model="mainSkills[4].name" v-if="jobSkills[4].name.length > 1">
              <option v-for="s in jobSkills[4].name" :value="s">{{s}}</option>
            </select>
            <p v-else>{{mainSkills[4].name}}</p>
          </div>
          <div class="input">
            <select class="number" v-model="mainSkills[4].value">
              <option v-for="m in ['',70,60,50,40]" :value="m" v-on:click="setMainSkills(4, m)">{{m}}</option>
            </select>
          </div>

          <div class="label">
            <select v-model="mainSkills[5].name" v-if="jobSkills[5].name.length > 1">
              <option v-for="s in jobSkills[5].name" :value="s">{{s}}</option>
            </select>
            <p v-else>{{mainSkills[5].name}}</p>
          </div>
          <div class="input">
            <select class="number" v-model="mainSkills[5].value">
              <option v-for="m in ['',70,60,50,40]" :value="m" v-on:click="setMainSkills(5, m)">{{m}}</option>
            </select>
          </div>

          <div class="label">
            <select v-model="mainSkills[6].name" v-if="jobSkills[6].name.length > 1">
              <option v-for="s in jobSkills[6].name" :value="s">{{s}}</option>
            </select>
            <p v-else>{{mainSkills[6].name}}</p>
          </div>
          <div class="input">
            <select class="number" v-model="mainSkills[6].value">
              <option v-for="m in ['',70,60,50,40]" :value="m" v-on:click="setMainSkills(6, m)">{{m}}</option>
            </select>
          </div>

          <div class="label">
            <select v-model="mainSkills[7].name" v-if="jobSkills[7].name.length > 1">
              <option v-for="s in jobSkills[7].name" :value="s">{{s}}</option>
            </select>
            <p v-else>{{mainSkills[7].name}}</p>
          </div>
          <div class="input">
            <select class="number" v-model="mainSkills[7].value">
              <option v-for="m in ['',70,60,50,40]" :value="m" v-on:click="setMainSkills(7, m)">{{m}}</option>
            </select>
          </div>

          <div class="label">
            <select v-model="mainSkills[8].name" v-if="jobSkills[8].name.length > 1">
              <option v-for="s in jobSkills[8].name" :value="s">{{s}}</option>
            </select>
            <p v-else>{{mainSkills[8].name}}</p>
          </div>
          <div class="input">
            <select class="number" v-model="mainSkills[8].value">
              <option v-for="m in ['',70,60,50,40]" :value="m" v-on:click="setMainSkills(8, m)">{{m}}</option>
            </select>
          </div>
          <p class="note"> Przydziel wartości do powyższych umiejętności: <br>70, 60, 60, 50, 50, 50, 40, 40, 40</p>
          <h1>Zainteresowania</h1>
            <form>
              <div class="center-label">
                <select v-model="interests[0]">
                  <option v-for="skill in allInterests" v-bind:value="skill.name">{{skill.name}}: {{skill.value}}</option>
                </select>
              </div>
              <div class="center-label">
                <select v-model="interests[1]">
                  <option v-for="skill in allInterests" v-bind:value="skill.name">{{skill.name}}: {{skill.value}}</option>
                </select>
              </div>
              <div class="center-label">
                <select v-model="interests[2]">
                  <option v-for="skill in allInterests" v-bind:value="skill.name">{{skill.name}}: {{skill.value}}</option>
                </select>
              </div>
              <div class="center-label">
                <select v-model="interests[3]">
                  <option v-for="skill in allInterests" v-bind:value="skill.name">{{skill.name}}: {{skill.value}}</option>
                </select>
              </div>
            </form>
        </div>

        <div v-if="pages[3]">
          <h1>Ekwipunek</h1>
          <form>
            <div class="label">Broń</div>
            <div class="input">
              <select v-model="weapons[0]">
                <option v-for="w in allWeapons" v-bind:value="w">{{w}}</option>
              </select>
            </div>
            <div class="label hidden">Broń</div>
            <div class="input">
              <select v-model="weapons[1]">
                <option v-for="w in allWeapons" v-bind:value="w">{{w}}</option>
              </select>
            </div>
            <hr>
            <div class="label">Gotówka</div>
            <div class="input"><span class="switch" v-on:click="moneyDraw = false" v-if="moneyDraw">Losuj</span><span v-if="!moneyDraw">{{money}}</span></div>

            <hr>
            <div class="label">Dobytek</div>
            <div class="input">
              <select v-model="equipment[0]">
                <option v-for="equipment in allEquipment" v-bind:value="equipment">{{equipment}}</option>
              </select>
            </div>
            <div class="label hidden">Dobytek</div>
            <div class="input">
              <select v-model="equipment[1]">
                <option v-for="equipment in allEquipment" v-bind:value="equipment">{{equipment}}</option>
              </select>
            </div>

            <div class="label hidden">Dobytek</div>
            <div class="input">
              <select v-model="equipment[2]">
                <option v-for="equipment in allEquipment" v-bind:value="equipment">{{equipment}}</option>
              </select>
            </div>

            <div class="label hidden">Dobytek</div>
            <div class="input">
              <select v-model="equipment[3]">
                <option v-for="equipment in allEquipment" v-bind:value="equipment">{{equipment}}</option>
              </select>
            </div>

            <div class="label hidden">Dobytek</div>
            <div class="input">
              <select v-model="equipment[4]">
                <option v-for="equipment in allEquipment" v-bind:value="equipment">{{equipment}}</option>
              </select>
            </div>
          </form>
        </div>

        <div v-if="pages[4]">
          <div id="appearance">
            <h1> Twoja Postać </h1>
            <div class="img creator">
              <svg id="faceSVG" :width="facePaths.svgSize" :height="facePaths.svgSize">
                <path
                    :id="1"
                    :d="facePaths.d"
                    :fill="face">
                </path>
              </svg>
              <svg id="eyesSVG" :width="eyesPaths.svgSize" :height="eyesPaths.svgSize">
                <path
                    :id="2"
                    :d="eyesPaths.d"
                    stroke-width="2.5"
                    :stroke="eyes">
                </path>
              </svg>
              <svg id="eyelidsSVG" :width="eyelidsPaths.svgSize" :height="eyelidsPaths.svgSize">
                <path
                    :id="2"
                    :d="eyelidsPaths.d"
                    fill-opacity="0"
                    stroke-width="1"
                    stroke-opacity="0.3"
                    stroke="black">
                </path>
              </svg>
              <svg id="lipsSVG" :width="lipsPaths.svgSize" :height="lipsPaths.svgSize">
                <path
                    :id="2"
                    :d="lipsPaths.d"
                    stroke-width="1"
                    stroke-opacity="0.5"
                    stroke="black"
                    :fill="lipsColor">
                </path>
              </svg>
              <svg id="noseSVG" :width="nosePaths.svgSize" :height="nosePaths.svgSize">
                <path
                    :id="2"
                    :d="nosePaths.d"
                    stroke-width="1"
                    stroke-opacity="0.5"
                    stroke="black"
                    fill-opacity="0">
                </path>
              </svg>
              <!--
              <svg id="brawnsSVG" :width="brawnsPath.svgSize" :height="brawnsPath.svgSize">
                <path
                    :id="2"
                    :d="brawnsPath.d"
                    stroke-width="2.5"
                    stroke-opacity="1"
                    :stroke="hair"
                    fill-opacity="0">
                </path>
              </svg>
            <img class="hair" :src="../static/img/hair/23.png"/>
          -->
            <img class="hair" :src="hairShapeSrc" :style="hairSize"/>
            </div>
            <div class="appgrid">
              <nav>
                <button v-for="i in [0,1,2,3,4]" v-on:click="switchToElement(i)" v-bind:class="{activeElement: appearancePages[i], notActiveElement: !appearancePages[i]}">{{appearance[i].name}}</button>
              </nav>
              <div>
              <div id="type">
                <h2> Kształt </h2>
                <div class="palette">
                  <div class="img type" v-for="(attr, i) in activeAppearance.shapes" v-on:click="setActiveShape(i)">
                  </div>
                </div>
              </div>
              <div id="colors">
                <h2> Kolor </h2>
                <div class="palette">
                  <div class="color" v-for="(atrr, i) in activeAppearance.colors" v-bind:style="{backgroundColor: activeAppearance.colors[i]}" v-on:click="setActiveColor(i)"></div>
                </div>
              </div>
          </div>
        </div>

      </main>

      <aside>
        <div class="img aside">
          <img src="../static/img/postac.jpg"></img>
        </div>
        <div id="summarise">
          <p><b>Imię:</b> {{explorerName}}<br>
            <b>Płeć:</b> {{explorerSex}} <br>
            <b>Wiek:</b> {{explorerAge}} <br>
            <b>Zawód:</b> {{job}} <br>
            <b>Mocne strony:</b> <span v-for="points in strongPoints">{{points.name}}, </span><br>
            <b>Umiejętności:</b> <span v-for="skills in strongSkills">{{skills.name}}, </span><br>
            <b>Broń:</b> <span v-for="weapon in weapons">{{weapon}}, </span><br></p>
        </div>
        <a class="save" href="characters.html">Zapisz</a>
      </aside>
    </div>
  </div>
  <script>

  	new Vue({
  		el: '#content',
  		data: {
        explorerName: '',
        gamerName: '',
        explorerAge: '',
        explorerSex: '',
        explorerCity: '',
        explorerBirthCity: '',
        importantPlace: '',
        phobia: '',
        importantPeople: '',
        job: '',
        sk: '',
        luckDraw: true,
        moneyDraw: true,
        allJobs: ['Aktor', 'Antykwariusz', 'Artysta', 'Detektyw', 'Hobbysta', 'Lekarz', 'Policjant', 'Student'],
        allWeapons: ['Krótki nóż: 1K4', 'Broń krótka: 1K10', 'Maczeta: 1K8', "Mała pałka: 1K6"],
        allEquipment: ['Koc', 'Apteczka', 'Lampa naftowa', 'Zapałki', 'Lina', 'Butelka wina', 'Ołówek', 'Zeszyt', 'Torebka'],
        allSkills: [
          {name:'Charakteryzacja', value:25},
          {name:'Elektryka', value:30},
          {name:'Medycyna', value:21},
          {name:'Historia', value:25},
          {name:'Tropienie', value:30},
          {name:'Język włoski', value:21},
          {name:'Język francuski', value:21},
          {name: 'Zastraszanie', value: 20},
          {name: 'Nasłuchiwanie', value: 20}
        ],
        interests: [],
        skills: [],
        weapons: [],
        equipment: [],
  			info: true,
        attribute: false,
        pages: [true, false, false, false, false],
        appearancePages: [true, false, false, false, false],
        mainAttrValues: [{'value':80}, {'value':70}, {'value':60}, {'value':60}, {'value':50}, {'value':50}, {'value':50}, {'value':40}],
        mainSkillsValues: [{'value':70}, {'value':60}, {'value':60}, {'value':50}, {'value':50}, {'value':50}, {'value':40}, {'value':40}, {'value':40}],
        mainAttr: [
          {name: 'Siła', value: 0},
          {name: 'Kondycja', value: 0},
          {name: 'Moc', value: 0},
          {name: 'Zręczność', value: 0},
          {name: 'Wygląd', value: 0},
          {name: 'Budowa ciała', value: 0},
          {name: 'Inteligencja', value: 0},
          {name: 'Wykształcenie', value: 0}
        ],
        jobSkills: [
          {name: []},
          {name: []},
          {name: []},
          {name: []},
          {name: []},
          {name: []},
          {name: []},
          {name: []},
          {name: []},
        ],
        mainSkills: [
          {name: '', value: 0},
          {name: '', value: 0},
          {name: '', value: 0},
          {name: '', value: 0},
          {name: '', value: 0},
          {name: '', value: 0},
          {name: '', value: 0},
          {name: '', value: 0},
          {name: '', value: 0},
        ],
        appearance: [
          {name: "twarz", shapes: ['1', '2', '3'], colors: ['#FDCACA','#F8D6C8', '#F8DFB9', '#D9BD92', '#73553F', '#3A2828']},
          {name: "nos i usta", shapes: ['1', '2', '3'], colors: ['#FED0B6', '#D66E6E', '#FF3E3E', '#B91B1B', '#4C1313', '#340916']},
          {name: "oczy", shapes: ['1', '2', '3'], colors: ['#9F9A1D', '#5C802E', '#5A9CC2', '#653818', '#3A2828', 'black']},
          {name: "włosy", shapes: ['1', '2', '3'], colors: ['#EE6214','#D5B17C', '#73553F', '#3A2828', '#1E1104', '#979696']},
          {name: "znaki", shapes: ['1', '2', '3'], colors: ['#EE6214','#D5B17C', '#73553F', '#3A2828', '#1E1104', '#979696']},
        ],
        activeAppearance: {},
        svgSize: 250,
        face: '#F8D6C8',
        eyes: '#5C802E',
        lipsColor: '#D66E6E',
        faceShapes: [{Mx:100, My:100 ,rx:50, ry:70, x:100},
                    {Mx:100, My:100, rx:50, ry:75, x:100},
                    {Mx:95, My:105, rx:52, ry:60, x:110}],
        faceShape: {Mx:100, My:100 ,rx:50, ry:70, x:100},
        leftEyeLids: [{Mx:90, My:105, Cx1:90, Cy1:100, Cx2:105, Cy2:95, Cx:115, Cy:105},
                     {Mx:85, My:100, Cx1:90, Cy1:100, Cx2:105, Cy2:95, Cx:115, Cy:105},
                     {Mx:95, My:100, Cx1:90, Cy1:105, Cx2:105, Cy2:95, Cx:115, Cy:105}],

        rightEyeLids: [{Mx:133, My:105, Cx1:143, Cy1:95, Cx2:158, Cy2:100, Cx:158, Cy:105},
                      {Mx:133, My:105, Cx1:143, Cy1:95, Cx2:158, Cy2:100, Cx:163, Cy:100},
                      {Mx:133, My:105, Cx1:143, Cy1:95, Cx2:158, Cy2:105, Cx:153, Cy:100}],

        leftEyes: [{Mx:106, My:107},
                  {Mx:106, My:107},
                  {Mx:106, My:107}],

        rightEyes: [{Mx:147, My:107},
                   {Mx:147, My:107},
                   {Mx:147, My:107}],

        upperLips: [{Mx:110, My:145, Cx1:115, Cy1:140, Cx2:125, Cy2:140, Cx:125, Cy:142, h:30},
                    {Mx:110, My:145, Cx1:115, Cy1:137, Cx2:125, Cy2:137, Cx:125, Cy:140, h:30},
                    {Mx:110, My:145, Cx1:115, Cy1:140, Cx2:125, Cy2:140, Cx:125, Cy:142, h:0}],
        downerLips: [{Mx:110, My:145, Cx1:115, Cy1:150, Cx2:135, Cy2:150, Cx:140, Cy:145},
                    {Mx:110, My:145, Cx1:115, Cy1:155, Cx2:135, Cy2:155, Cx:140, Cy:145},
                    {Mx:117, My:148, Cx1:115, Cy1:150, Cx2:135, Cy2:150, Cx:132, Cy:148}],

        leftEye: {},
        rightEye: {},
        leftEyeLid: {},
        rightEyeLid: {},
        upperLip: {},
        downerLip: {},
        hairShape: 2,
        hairColor: 2,
        hairSize: {
            width: '165px',
            height: '165px',
            left: '37px',
            top: '-8px',
        }
  		},
      computed: {
        magic: function() {
          return this.mainAttr[2].value/5;
        },
        mind: function() {
          return this.mainAttr[2].value;
        },
        injuriesAndBrawn: function (){
          var sum = this.mainAttr[0].value + this.mainAttr[5].value;
          if (sum<=64) return ['-2', '-2'];
          if (sum<=84) return ['-1', '-1'];
          if (sum<=124) return ['Brak', '+1'];
          if (sum<=164) return ['+1K4', '+1'];
          return ['+1K6', '+2'];
        },
        durability: function () {
          var sum = this.mainAttr[1].value + this.mainAttr[5].value;
          return sum/10;
        },
        luck: function () {
          // wykonuję 3 rzuty koścmi K6 i mnożę razy 5;
          var first = Math.floor(Math.random() * 6) + 1;
          var sec = Math.floor(Math.random() * 6) + 1;
          var third = Math.floor(Math.random() * 6) + 1;
          return (first+sec+third)*5;
          //== return Math.floor(Math.random() * 90) + 15;
        },
        money: function () {
          var a = Math.floor(Math.random() * 5) + 1;
          return a * this.mainSkills[8].value / 10;
        },
        strongPoints: function () {
          if(this.validateValues(this.mainAttr, this.mainAttrValues)){
            var sp = [];
            for (var i=0; i<this.mainAttr.length; i++){
              if (this.mainAttr[i].value >= 70) {
                sp.push(this.mainAttr[i]);
              }
            }
            return sp;
          }
        },
        strongSkills: function () {
          if(this.validateValues(this.mainSkills, this.mainSkillsValues)){
            var sp = [];
            for (var i=0; i<this.mainSkills.length; i++){
              if (this.mainSkills[i].value >= 60) {
                sp.push(this.mainSkills[i]);
              }
            }
            return sp;
          }
        },
        allInterests: function () {
          var mySkills = []
          for (s of this.mainSkills) {
            mySkills.push(s.name);
          }
          return this.allSkills.filter(function(i){return mySkills.indexOf(i.name) < 0;})
        },
        facePaths(){
          const svgSize = this._data.svgSize;
          var Mx = this.faceShape.Mx;
          var My = this.faceShape.My;
          var rx = this.faceShape.rx;
          var ry = this.faceShape.ry;
          var x = this.faceShape.x;
          var d = `M ${Mx}, ${My}
                   m -25, 0
                   a ${rx},${ry} 0 1,0 ${x},0
                   a ${rx},${rx} 0 1,0 -${x},0`;
          return {
            svgSize,
            d,
          }
        },
        eyelidsPaths(){
          const svgSize = this._data.svgSize;
          var left = this.leftEyeLid;
          var right = this.rightEyeLid;

          var d = `M ${left.Mx}, ${left.My}
                   C ${left.Cx1},${left.Cy1}
                     ${left.Cx2},${left.Cy2}
                     ${left.Cx},${left.Cy}

                   M ${right.Mx}, ${right.My}
                   C ${right.Cx1},${right.Cy1}
                     ${right.Cx2},${right.Cy2}
                     ${right.Cx},${right.Cy}`;
          return {
            svgSize,
            d,
          }
        },
        eyesPaths(){
          const svgSize = this._data.svgSize;
          var left = this.leftEye;
          var right = this.rightEye;

          var d = `M ${left.Mx}, ${left.My}
                   a 3,3 0 1,0 -3,0

                   M ${right.Mx}, ${right.My}
                   a 3,3 0 1,0 -3,0`;
          return {
            svgSize,
            d,
          }
        },
        lipsPaths(){
          const svgSize = this._data.svgSize;
          var up = this.upperLip;
          var down = this.downerLip;
          var d = `M ${up.Mx}, ${up.My}
                   C ${up.Cx1}, ${up.Cy1}
                     ${up.Cx2}, ${up.Cy2}
                     ${up.Cx}, ${up.Cy}

                     C ${up.Cx2}, ${up.Cy2}
                       ${up.Cx1+20}, ${up.Cy1}
                       ${up.Mx+30}, ${up.My}

                    M 110, 145
                    h ${up.h}

                    M ${down.Mx}, ${down.My}
                    C ${down.Cx1}, ${down.Cy1}
                      ${down.Cx2}, ${down.Cy2}
                      ${down.Cx}, ${down.Cy}`;
          return {
            svgSize,
            d,
          }
        },
        nosePaths(){
          const svgSize = this._data.svgSize;
          var d = `   M 117, 127
                      C 115, 132
                        135, 132
                        132, 127`;
          return {
            svgSize,
            d,
          }
        },
        brawnsPath(){
          const svgSize = this._data.svgSize;
          var d = `   M 90, 92
                      C 90, 92
                        105, 87
                        115, 97

                      M 133, 97
                      C 143, 87
                        158, 92
                        160, 92`;
          return {
            svgSize,
            d,
          }
        },
        hairShapeSrc: function () {
          return `../static/img/hair/${this.hairShape}${this.hairColor}.png`;
        },
        // styleHair: {
        //   if (this.hairShape == 2) {
        //     width: '165px',
        //     height: '165px',
        //     left: '37px';
        //     top: '-8px';
        //   }
        // }
      },
      watch: {
        face: function () {
          this.appearance[1].colors[0] = this.face;
        },
        weapons: function() {
          console.log('watch: waeopons | ', this.weapons);
        },
        equipment: function() {
          console.log('watch: equipment | ',  this.equipment);
        },
        interests: function() {
          console.log('watch: interests | ', this.interests);
        },
        magic: function() {
            console.log('watch: magic | ', this.magic);
        },
        mind: function() {
          console.log('watch: mind | ', this.mind);
        },
      },
      methods: {
        switchToPage(pageIndex){
          var vm = this;
          for (var i=0; i<this.pages.length; i++){
            vm.$set(vm.pages, i, false);
          }
          vm.$set(vm.pages, pageIndex, true);
          this.activeAppearance = this.appearance[0];
        },
        switchToElement(pageIndex) {
          var vm = this;
          for (var i=0; i<this.appearancePages.length; i++){
            vm.$set(vm.appearancePages, i, false);
          }
          vm.$set(vm.appearancePages, pageIndex, true);
          this.activeAppearance = this.appearance[pageIndex];
        },
        setJobSkills(job){
          //jeśli job = 'Detektyw' to ....
          // tutaj będę pobierać GETem umiejętności danego zawodu
          this.jobSkills[0].name = ['Sztuka/Rzemiosło', 'Charakteryzacja'];
          this.jobSkills[1].name = ['Broń palna'];
          this.jobSkills[2].name = ['Nasłuchiwanie'];
          this.jobSkills[3].name = ['Prawo'];
          this.jobSkills[4].name = ['Urok Osobisty', 'Gadanina', 'Zastraszanie', 'Perswazja'];
          this.jobSkills[5].name = ['Psychologia'];
          this.jobSkills[6].name = ['Spostrzegawczość'];
          for (var i=0; i<this.allSkills.length; i++){
            this.jobSkills[7].name[i] = this.allSkills[i].name;
          }
          this.jobSkills[8].name = ['Majętnosć'];
        },
        selectJob(job){
          this.setJobSkills(job);
          for (var i=0; i<this.jobSkills.length; i++){
            if(this.jobSkills[i].name.length == 1) { //jeśli jest tylko jedna cecha do wyboru to zapisz ją 'na sztywno' jako umiejętność głowna (w mainSkills)
              this.mainSkills[i].name = this.jobSkills[i].name[0];
              //console.log(this.jobSkills[i].name[0])
            }
          }
        },
        setMainAttributes(attribute, value){
          this.mainAttr[attribute].value = value;
          this.validateValues(this.mainAttr, this.mainAttrValues);
        },
        setMainSkills(attribute, value){
          this.mainSkills[attribute].value = value;
          this.validateValues(this.mainSkills, this.mainSkillsValues);

          console.log("----twoje umiejętności----");
          for (s of this.mainSkills){
            console.log(s.name, s.value);
          }
          console.log("-------------------");

        },
        validateValues(first, second){
          var a = [];
          var b = [];
          var length = first.length;
          for (var i=0; i<length; i++){
            a.push(first[i].value);
            b.push(second[i].value);
          }
          b.sort();
          a.sort();
          for (var i=0; i<length; i++){
            if (a[i] != b[i]){
              console.log("Źle ustawione wartości");
              return false;
            }
          }
          console.log("Dobrze ustawione wartości");
          return true;
        },
        setActiveColor(i) {
          if (this.appearancePages[0]){
            this.face = this.activeAppearance.colors[i];
          }
          if (this.appearancePages[1]){
            this.lipsColor = this.activeAppearance.colors[i];
          }
          if (this.appearancePages[2]){
            this.eyes = this.activeAppearance.colors[i];
          }
          if (this.appearancePages[3]){
            this.hairColor = i+1;
          }
        },
        setActiveShape(i) {
          if (this.appearancePages[0]){
            this.faceShape = this.faceShapes[i];
          }
          if (this.appearancePages[1]){
            this.upperLip = this.upperLips[i];
            this.downerLip = this.downerLips[i];
          }
          if (this.appearancePages[2]){
            this.leftEye = this.leftEyes[i];
            this.rightEye = this.rightEyes[i];
            this.leftEyeLid = this.leftEyeLids[i];
            this.rightEyeLid = this.rightEyeLids[i];
          }
          if (this.appearancePages[3]){
            this.hairShape = i+1;
            if (this.hairShape == 1){
              this.hairSize.width = '250px';
              this.hairSize.height = '260px';
              this.hairSize.left = '-5px';
              this.hairSize.top = '17px';
            }
            if (this.hairShape == 2){
              this.hairSize.width = '165px';
              this.hairSize.height = '165px';
              this.hairSize.left = '37px';
              this.hairSize.top = '-8px';
            }
          }
        },
      },
    });


  </script>
</body>
</html>
