<!DOCTYPE  html>
<html lang='pl'>
<head>
  <meta charset='utf-8'>
  <title>Zew Cthulhu</title>
  <link href='../static/styles.css' rel='stylesheet'>
  <link href='../static/main-elements.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Rokkitt:300,400,700" rel="stylesheet">
</head>

<body>
  <div id="content">

    <div class="maingrid">
      <header>Tworzenie postaci</header>
      <nav>
        <button>Informacje o postaci</button>
        <button>Cechy</button>
        <button>Zawód i umiejętności</button>
        <button>Ekwipunek</button>
        <button id="last">Wygląd</button>
      </nav>
      <main>
        <h1>Informacje o postaci</h1>
        <form>
          <div class="label"> Imię Badacza </div>
          <div class="input">
            <input type="text" name="character-name" value="Jass Anderson">
          </div>

          <div class="label"> Imię Gracza </div>
          <div class="input">
            <input type="text" name="name" value="Izabela">
          </div>

          <div class="label"> Wiek </div>
          <div class="input">
            <input type="number" name="age" value="32">
          </div>

          <div class="label"> Płeć </div>
          <div class="input">
            <input type="radio" name="gender" value="female"> K
            <input type="radio" name="gender" value="male" checked> M<br>
          </div>

          <div class="label"> Miejsce zamieszkania </div>
          <div class="input">
            <input type="text" name="liveplace" value="Boston">
          </div>

          <div class="label"> Miejsce urodzenia </div>
          <div class="input">
            <input type="text" name="bornplace" value="Londyn">
          </div>
        </form>

        <h1>Inne </h1>
        <form>
          <div class="label"> Znaczące miejsca </div>
          <div class="input">
            <input type="text" name="imp-places">
          </div>

          <div class="label"> Fobie </div>
          <div class="input">
            <input type="text" name="phobia" value="Pająki">
          </div>

          <div class="label"> Ważne osoby </div>
          <div class="input">
            <input type="text" name="imp-person" value="Siotra Meggie">
          </div>
        </form>

      </main>
      <aside>
        <div id="img">
          <p>
            Tutaj będzie miniatura naszej postaci.
          </p>
        </div>
        <div id="summarise">
          <p>Imię: Jass Anderson <br>
            Płeć: Kobieta <br>
            Wiek: 32 <br>
            Zawód: Detektyw <br>
            Mocne strony: Siła i kondycja <br>
            Umiejętności: wspinaczka, charakteryzacja, urok osobisty <br>
            Bron: maczeta, bron krótka <br></p>
        </div>
        <button>Zapisz</button>
      </aside>
    </div> <!-- class="grid"> -->
  </div> <!-- id="content" -->
</body>
